.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 90px;
}

.container div{
    display: grid;
    grid-template-rows: repeat(3,80px);
    gap: 15px;
    justify-content: center;
    justify-items: center;
    align-items: center;

    background-color: var(--middle);
    padding: 20px;
    width: 210px;
}

.container p{   
    font-size: 12px;
}

.second p{
    margin-top: 10px;
}

@media screen and (min-width: 600pX){
    .container{
        gap: 30px;
    }
    .container div{
        width: 300px;
    }
    .container p{
        font-size: 16.5px;
    }
}