footer{
    background-color: var(--middle);
    margin-top: 20px;
    width: 100%;
    padding: 15px;
}
footer p{
    margin-bottom: 10px;
    color: var(--dark);
    font-weight: 900;
}
.follow{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
a{
    text-decoration:none;
    color: var(--dark);
}

a:hover{
    color: #99FFFF;
}