.first_img{
    width: 150px;
}
.second_img{
    width: 80px;
    transform: rotate(10deg);
}
.third_img{
    width: 100px;
}

/*IMAGES ANIMATION*/
.first:hover .first_img{
    animation: first_animation 1s cubic-bezier(0.25,0.1,0.25,1) infinite alternate ;
}
.second:hover .second_img{
    animation: second_animation .6s cubic-bezier(0.25,0.1,0.25,1) infinite  alternate ;
}
.third:hover .third_img{
    animation: third_animation .5s cubic-bezier(0.25,0.1,0.25,1) infinite alternate;
}

@keyframes first_animation{
    from{transform: translateX(-15px);}
    to{transform:  translateX(15px);}
}
@keyframes second_animation{
    from{transform: rotate(10deg);}
    to{transform: rotate(-10deg);}
}
@keyframes third_animation{
    to {transform: translateY(-10px);}
}



@media screen and (min-width: 600px) {
    .first_img, .second_img, .third_img{
        transform: scale(1.2);
    }
    .first:hover .first_img{
        animation: first_animation_query 1s cubic-bezier(0.25,0.1,0.25,1) infinite alternate ;
    }
    .second:hover .second_img{
        animation: second_animation_query .6s cubic-bezier(0.25,0.1,0.25,1) infinite  alternate ;
    }
    .third:hover .third_img{
        animation: third_animation_query .5s cubic-bezier(0.25,0.1,0.25,1) infinite alternate;
    }

    @keyframes first_animation_query{
        from{transform: translateX(-15px) scale(1.2);}
        to{transform:  translateX(15px) scale(1.2);}
    }
    @keyframes second_animation_query{
        from{transform: rotate(10deg) scale(1.2);}
        to{transform: rotate(-10deg) scale(1.2);}
    }
    @keyframes third_animation_query{
        to {transform: translateY(-10px) scale(1.2);}
    }
}