*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #CCFFFF;
    font-family: monospace;
}

:root{
    --dark: #001011;
    --middle: #3AAFB9;
    --ligth: #63E9EE;
}

body{
    background-color: var(--dark);
    text-align: center;
    display: grid;
    grid-template-rows: 1fr repeat(2,800px) auto;
    min-height: 100vh;
}