*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #CCFFFF;
    font-family: monospace;
}

:root{
    --dark: #001011;
    --middle: #3AAFB9;
    --ligth: #63E9EE;
}

body{
    background-color: var(--dark);
    text-align: center;
    /* display: grid;
    grid-template-rows: 1fr  repeat(3,500px) auto; */
    min-height: 100vh;
}

hr{
    border: none;
    border: 2px solid var(--ligth);
}

.arrow{
    position: fixed;
    right: 10px;
    bottom: 80px;
    transition: all 310ms ease;
    border-radius: 50%;
    cursor: pointer;
}
.arrow:hover{
    transform: scale(1.1);
}
.arrow .fas{
    color:var(--ligth);
}