.presentation{
    max-width: 700px;
    min-width: 375px;
    padding: 30px;
    font-size: 12px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}
.presentation h2, .presentation p{
    line-height: 1.5;
}
.presentation p{
    font-size: 15px;
}
.presentation h2{
    font-size: 40px;
    display: inline-block;
    white-space: nowrap;
    border-right: 1px var(--middle) solid;
    width: 9.5ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
    color: var(--ligth);
}

@keyframes typing{
    from {width: 0;}
}
@keyframes blink{
    50% { border-color: transparent;}
}

/*MEDIA QUERY*/
@media screen and (min-width:600px) {
    .presentation p{
        font-size: 25px;
    }
}