*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: monospace;
}

body{
    background-color: #001011;
    text-align: center;
}

.presentation{
    width: 210px;
    font-size: 12px;
    text-align: center;
    margin: auto;
}
.presentation h2, .presentation p{
    margin: 20px;
    line-height: 1.5;
}
.presentation h2{
    line-height: 1.5;
}

.name{
    display: block;
    white-space: nowrap;
    border-right: 1px #3AAFB9 solid;
    width: 26ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
}

.container div{
    background-color: #3AAFB9;
    padding: 20px;
    width: 210px;
    text-align: center;
    margin-left: 15px;
}

.first{
    grid-column: span 1 / 2;
}

.second{
    grid-column: span 2 / 3;
}

.third{
    grid-column: span 3 / 4;
}

img{
    width: 100px;
    filter: grayscale()
}

@keyframes typing{
    from {width: 0;}
}

@keyframes blink{
    50% { border-color: transparent;}
}