*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}
:root{
    --dark: #001011;
    --nice: #093A3E;
    --middle: #3AAFB9;
    --light: #64E9EE;
}
body{
    background-color: var(--dark);
}
.container{
    text-align: center;
}

.container__forms{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    padding: 40px 50px;
}

.container__forms form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: var(--middle);
}
.container__forms form input, select{
    border: none;
    outline: none;
    background-color: var(--dark);
    color: var(--light);
    padding: 5px 12px;
}

.container__forms #triangle{
    gap: 0;
}

select{
    background-color: var(--nice);
}